<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- 비어있는 값은 공백이 아닌 NULL로 설정 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- 별칭선언 -->
	<typeAliases>
		<typeAlias type="cafe.model.vo.Cafe" alias="c"/>
	</typeAliases>
	
	<!-- mapper설정 -->
	
	
	<environments default="development">
		<environment id="development">
			<!-- 커밋 롤백 누가할건지 선언(직접하니 JDBC) -->
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:xe"/>
				<property name="username" value="GIFT"/>
				<property name="password" value="1234"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="cafe-mapper.xml"/>
	</mappers>
	
</configuration>
