@charset "UTF-8";

body {
  background-color: white;
}

/* 검색 폼 중앙 정렬 */
.searchFrm {
  justify-content: center;
  margin-top: 20px;
}
.searchFrm > select {
  margin-right: 10px;
  width: 20%;
}
.searchFrm > input:nth-child(2) {
  margin-right: 10px;
  width: 20%;
}

/* 글쓰기 버튼 우측 정렬 */
table + div {
  text-align: right;
}

/* 페이지 중앙 처리 */
.pageNavi {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

table > thead tr > th {
  text-align: center;
}

table > tbody tr > td {
  text-align: center;
}
/* 글제목 정렬 : left */
table > tbody tr > td:nth-child(2) {
  text-align: left;
}
