<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- 비어있는 값은 원래 공백인데 NULL로 설정 -->
	<settings>
		<!-- null값이 발생하는 경우 빈칸이아닌 null로 인삭하기 위한 설정 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- 별칭선언 -->
	<typeAliases>
		<typeAlias type="member.model.vo.Member" alias="m"/>
	</typeAliases>
	
	<!-- DB설정 -->
	<environments default="development">
		<environment id="development">
			<!-- 커밋 롤백 누가할건지 선언(직접하니 JDBC) -->
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:xe"/>
				<property name="username" value="mybatis"/>
				<property name="password" value="1234"/>
			</dataSource>
		</environment>
	</environments>
	
	<!-- 쿼리문이있는 위치 설정 -->
	<mappers>
		<mapper resource="member-mapper.xml"/>
	</mappers>
	
</configuration>
